CONSUMER_HOST=
CONSUMER_PORT=
CONSUMER_DB_NAME=
CONSUMER_USER=
CONSUMER_PASSWORD=

PRODUCER_HOST=
PRODUCER_PORT=
PRODUCER_DB_NAME=
PRODUCER_USER=
PRODUCER_PASSWORD=


PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=